* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App-div {
  background-image: url(./form.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.App-div form {
  padding: 40px;
  background-color: rgb(21, 28, 49);
  border-radius: 5px;
}
.App-div input {
  padding: 15px 50px;
  border-radius: 50px;
  margin-bottom: 20px;
  outline: none;
  border: none;
  background-color: white;
}
.App-div input[type="submit"] {
  margin-bottom: 0;
  font-size: 16px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
  color: rgb(21, 28, 49);
}
.App-div p {
  padding: 80px;
  backdrop-filter: blur(8px);
  font-size: 22px;
  background-color: rgb(21, 28, 49);
  border-radius: 5px;
  color: white;
}
